<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
	<title>Eat Da Burger</title>
	{{!-- jQuery --}}
	<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
	 crossorigin="anonymous"></script>
</head>

<body>
	{{{ body }}}
	<script type="text/javascript" src="/assets/js/burgers.js"></script>
</body>

</html>